button {
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

.media-player-controls {
    //max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 8px;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2147483647;
}

.media-scrubber {
    transition: all .15s;
    opacity: .8;
    margin: 10px auto;
    width: 98%;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
}


.media-buttons {
    width: 95%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

.play-progress {
    transition: all 0s;
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    background: orange;
    height: 4px;
}

.load-progress {
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    background: rgba(200, 200, 200, .4);
    height: 4px;
}

#play-pause-button {
    float: left;
	padding: 13px 11px;
	background: url(../icons/play-icon.png) center center no-repeat;
}

.media-time {
    font-size: 1em;
    color: white;
    margin: auto 0 auto 20px;
}

#mute-button {
    float: right;
    padding: 13px 11px;
    background: url(../icons/volume-on-icon.png) center center no-repeat;
    margin-left: 15px;
}

#fullscreen-button {
    float: right;
    padding: 13px 11px;
    background: url(../icons/fullscreen-icon.png) center center no-repeat;
    margin-left: 15px;
}

#closed-captions {
    height: 26px;
    padding: 0;
}

#closed-captions img {
    height: 100%;
}

.buttons-showing {
    bottom: 45px;
}

#play-time {
    display: flex;
}