button {
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}


#play-pause-button {
	padding: 13px 11px;
	background: url(../icons/play-icon.png) center center no-repeat;
}

#mute-button {
    padding: 13px 11px;
    background: url(../icons/volume-on-icon.png) center center no-repeat;
}

#fullscreen-button {
    padding: 13px 11px;
    background: url(../icons/fullscreen-icon.png) center center no-repeat;
}