.media-player {
	position: relative;
}

.media-player-controls {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2147483647;
}