button {
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

.play {
	padding: 13px 11px;
	background: url(../icons/play-icon.png) no-repeat;
}