.wrapper {
	margin: 15px auto;
	max-width: 900px;
	//background: #504848;
	padding: 15px 0;
	//border-radius: 15px;
}

#transcript {
	line-height: 1.5;
	font-size: 1.25em;
}

#transcript span:hover {
	color: #999;
	cursor: pointer;
}

.highlight {
	color: white;
}